body {
  margin: 0;
  color: white;
  background-color: black;
}
.navbar {
  /* height: 800px;
  width: 400px; */
  background-color: black;
}

/* Model-1 */
.model-1 {
  display: flex;
}
.img-1 {
  height: 22px;
  margin-top: 22px;
  margin-left: 22px;
}
.img-2 {
  height: 24px;
  margin-top: 20px;
  margin-left: 22px;
}
.box-1 {
  margin-left: 2px;
}

/* Model-2 */
.model-2 {
  display: flex;
}
.img-3 {
  height: 23px;
  margin-top: 19px;
  margin-left: 22px;
  border-radius: 50%;
}
.box-2 {
  margin-top: 4px;
  margin-left: 24px;
}

/* Model-3 */
.model-3 {
  display: flex;
}
.img-4 {
  height: 18px;
  margin-top: 19px;
  margin-left: 22px;
  border-radius: 50%;
}
.box-3 {
  margin-top: 0px;
  margin-left: 22px;
}

/* Model-4 */
.model-4 {
  display: flex;
}
.img-5 {
  height: 20px;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 50%;
}
.box-4 {
  margin-left: 19px;
}

/* Model-5 */
.model-5 {
  display: flex;
}
.img-6 {
  height: 25px;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 50%;
}
.box-5 {
  margin-top: 4px;
  margin-left: 29px;
}

/* Model-6 */
.model-6 {
  display: flex;
}
.img-7 {
  height: 28px;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 50%;
}
.box-6 {
  margin-top: 5px;
  margin-left: 23px;
}

/* Model-7 */
.model-7 {
  display: flex;
}
.img-8 {
  height: 26px;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 50%;
}
.box-7 {
  margin-top: 0px;
  margin-left: 24px;
}

/* Model-8 */
.model-8 {
  display: flex;
}
.img-9 {
  height: 29px;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 50%;
}
.box-8 {
  margin-top: 4px;
  margin-left: 20px;
}

/* Model-9 */
.model-9 {
  display: flex;
}
.img-10 {
  height: 19px;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 50%;
}
.box-9 {
  margin-top: 0;
  margin-left: 17px;
}

/* Model-10 */
.model-10 {
  display: flex;
}
.img-11 {
  height: 25px;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 50%;
}
.box-10 {
  margin-left: 24px;
}

/* Model-11 */
.model-11 {
  display: flex;
}
.img-12 {
  height: 22px;
  margin-top: 18px;
  margin-left: 22px;
  border-radius: 50%;
}
.box-11 {
  margin-top: 0px;
  margin-left: 24px;
}
